body {
    background-image: url("exptextb.jpg"); 
    background-color: "#FFFFFF";
    font-size: medium;
    }
    p{
      text-align: center;
      word-spacing: 0; 
      margin: 0 0;
      color: #800000;
      font-family: Verdana;
    }
