body {
    background-image: url("exptextb.jpg"); 
    background-color: #FFFFFF;
    }
    h1{
        text-align: center;
        word-spacing: 0; 
        margin: 10 0;
        color: #800000;
        font-family: Verdana;
        font-size: 4 ;  
    }
    h2{
      text-align: center;
      word-spacing: 0; 
      margin: 10 0;
      color: #800000;
      font-family: Verdana;
      font-size: 2 ;   
    }
    p{
      text-align: center;
      word-spacing: 0; 
      margin: 2 2;
      color: #800000;
      font-family: Verdana;
      font-size: 3 ;
    }
    strong{
      font-weight: bold;
      font-size: 5;
    }